@media (max-width: 71em) {
  .hero {
    max-width: 100rem;
  }
  body {
    padding: 5rem;
    padding-right: 4rem;
  }
  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  }
  .grid1 {
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
  }

  .top-navigation {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .grid--2-cols {
    grid-template-columns: 1fr 1fr;
  }
  .grid--1-cols {
    grid-template-columns: 1fr;
  }
}

/* ***************************** */
/* for mobile devices  */
/* ******************************** */
@media (max-width: 39em) {
  .font-image {
    margin-left: 2rem;
  }
  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 5rem;
  }

  .grid--1-cols {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-left: 5rem;
  }
}

@media (max-width: 22em) {
  .grid--1-cols {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    /* margin-left: 20rem; */
    margin-bottom: 0;
  }
  .img-size {
    width: 150%;
  }
  .cards {
    flex-grow: 1;
    width: 320px;
  }

  .front-description-text-tertiary {
    font-size: 6rem;
  }
  .front-description {
    margin-left: 13rem;
  }
  .front-image {
    margin-left: 10rem;
  }
  .nav-icon {
    margin-left: -8rem;
  }
  .face1 {
    margin-left: -6rem;
  }
}
