@media (max-width: 71em) {
  .hero {
    max-width: 100rem;
  }
  body {
    padding: 5rem;
    padding-right: 4rem;
  }
  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  }
  .grid1 {
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
  }

  .top-navigation {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .grid--2-cols {
    grid-template-columns: 1fr 1fr;
  }
  .grid--1-cols {
    grid-template-columns: 1fr;
  }
}

/* ***************************** */
/* for mobile devices  */
/* ******************************** */
@media (max-width: 39em) {
  .font-image {
    margin-left: 2rem;
  }
}
